{% extends 'base.html.twig' %}

{% block title %}Messages visiteurs{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <h1>Messages des visiteurs</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
{#                <li class="list-group-item active" aria-current="true">An active item</li>#}

                {% for message in visitorMessages %}

                    <li class="list-group-item" > {{ message.fullName }} | {{ message.content }}</li>

                {% endfor %}
            </ul>
        </div>
    </div>







{% endblock %}
