{% extends 'base.html.twig' %}

{% block title %}Messages visiteurs{% endblock %}

{% block body %}


<h1>Voici les messages des visiteurs</h1>


<h2>Le dernier message</h2>

<p>
Autheur: {{ lastMessage.fullName }}

<br>
    {{ lastMessage.content }}
</p>


<hr>

<h2>Tous les messages</h2>
<ul>
{# on va devoir lister les commentaires #}

{% for message in visitorMessages %}

    <li> {{ message.fullName }} | {{ message.content }}</li>

{% endfor %}

</ul>



{% endblock %}
